*.txt
.DS_Store
*.gz
*.sh
*.json
PARTNERS
go/go.sum


# IntelliJ
.idea

# Node.js
node_modules
package-lock.json
CSharp/Commands
CSharp/avayacloud-client-agent/.vs/
CSharp/avayacloud-client-agent/bin/
CSharp/avayacloud-client-agent/obj/
CSharp/avayacloud-client-agent/packages/
CSharp/avayacloud-client-agent/packages.config
CSharp/avayacloud-client-common/.vs/
CSharp/avayacloud-client-common/bin/
CSharp/avayacloud-client-common/obj/
CSharp/avayacloud-client-common/packages/
CSharp/avayacloud-client-subscription/bin/
CSharp/avayacloud-client-subscription/obj/
CSharp/avayacloud-client-agent/avayacloud-client-agent.xml
CSharp/avayacloud-client-common/avayacloud-client-common.xml
CSharp/avayacloud-client-subscription/avayacloud-client-subscription.xml
*.user
CSharp/avayacloud-client-subscription/packages.config
